dist: trusty
sudo: false
matrix:
  include:
    - language: java
      jdk: openjdk8
      # TODO: Database setup or should we mock database in tests? Probably yes.
      # services:
      #   - postgresql
      before_script:
        - cd 'backend/skeleton'
        # - psql -c ./src/main/resources/TestDB.sql -U postgres
      after_success:
        - mvn clean cobertura:cobertura coveralls:report
    - language: node_js
      node_js:
        - '8'
        - '7'
        - '6'
      before_script:
        - cd react-web-app
        - npm install
      after_success:
        - npm run coveralls